
<html>
<head>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>

<div ng-app="ticker" ng-controller="tickerCtrl">
  <div class="ticker">
    <div ng-class="{moving: moving}" class="viewport">

    <!-- <div ng-repeat="item in items" ng-style="{'top': '0', 'position': 'absolute'}" class="box" ng-model="item.direction" >
      <p>{{ box.Message }}</p>
    </div> -->
      <div ng-repeat="item in items"
           ng-class="{in:$first, last:$last}"
           class="item"
           my-height-bind
           height-value="elemHeight"
           data-height="{{elemHeight}}"
           animate-top-bottom>

        <a class="" ng-href="http://egenindsamling.rodekors.dk{{item.CollectionUrl}}">
          <div class="profile-image"><img class="" ng-src="{{ item.picture }}" alt="" /></div>
          <div class="profile-details">
            <span class="full-name">name: {{ item.name }}</span>
            <span></span>
          </div>
          <div class="amount">balance: {{ item.balance }} <span class="currency-code"> {{ item.CurrencyCode }} </span> </div>
          <div class="message"> whatever: {{ item.about }} </div>
          <div class="profile-image"></div>
          <div class="profile-details">
            <span></span>    
          </div>
          <div class="message reply">notification: {{ item.greeting }} </div>
        </a>
      </div>
    </div>
  </div>
</div>


<script>document.write("<base href=\"" + document.location + "\" />");</script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/jquery-2.1.4.js"></script>
<script src="assets/js/ticker.js"></script>
<script>

</script> 

</body>
</html>