
<html>

<head>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body ng-modules="ticker, reviews">

<div style="max-width: 600px; margin: 0 auto;">
  <div ng-controller="tickerCtrl">
    <div class="ticker">
      <div ng-class="{moving: moving}" class="viewport">
        <div ng-repeat="box in boxes" class="box"><span>{{ box.title }}</span></div>
      </div>
    </div>
  </div>
</div>

<div style="max-width: 600px; margin: 0 auto;">
  <div ng-controller="tickerCtrl">
    <div class="ticker">
      <div ng-controller="reviewsCtrl" ng-class="{moving: moving}" class="viewport">
        <div ng-repeat="review in reviews" class="box">
	      <p>{{review.firstName}}
	      {{review.lastName}}
	      {{review.fullName}}
	      {{review.location}}
	      {{review.reviewTitle}}
	      {{review.reviewBody}}
	      {{review.starRating}}<p>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-controller="reviewsCtrl">
  <ul>
    <li ng-repeat="review in reviews">
      {{review.firstName}}
      {{review.lastName}}
      {{review.fullName}}
      {{review.location}}
      {{review.reviewTitle}}
      {{review.reviewBody}}
      {{review.starRating}}
    </li>
  </ul>
</div>

<script>document.write("<base href=\"" + document.location + "\" />");</script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular.ng-modules.js"></script>
<!-- <script src="assets/js/widget.js"></script> -->
<script src="assets/js/ticker.js"></script>
<script src="assets/js/reviews.js"></script>
</body>

</html>