$viewBox: 0; //Size of the box

@import "_animate_properties.scss";
@import "mixins/_flipInX.scss",
		"mixins/_flipOutX.scss",
		"mixins/_moveUp.scss",
		"mixins/_moveDown.scss",
		"mixins/_slideInUp.scss",
		"mixins/_slideInDown.scss",
		"mixins/_fadeInDown.scss",
		"mixins/_fadeIn.scss",
		"mixins/_remToPx.scss";

$font-stack: 'Helvetica Neue', Arial, Helvetica, sans-serif;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.body {
	font-family: $font-stack;
	@include font-size (15px);
}

.ticker {
  max-width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
	  
	.viewport {
		position: absolute;
		height: auto;
	}

	.item {
		float: left;
		width: 100%;
		height: auto;
		border: 1px solid #ccc;
		overflow: hidden;
	}

	a {
		display: block;
		padding: 20px;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: #000;
	}

	.in {
		//@include fadeIn();
		//@include moveDown();
		height: 100%;
		width: 100%;
		display: none;
	}

	.moving {
		//background: red;
		//@include moveDown();
	}
}


//Ticker plugin
/*.ticker {
  max-width: 100%;
  max-height: 400px;
  overflow: hidden;
  position: relative;

    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

	.item {       
        background-color: #fff;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.16);
        margin: 0 0 8px 0;
        padding: 16px 16px 16px 14px;
	}

    .item-card {
      font-size: 12px;
      line-height: 18px;
      color: #555;
      margin-bottom: 20px;
    }

    .item-card:last-child {
      margin-bottom: 0;
    }

    .item-profile-image {
        width: 75px;
        float: left;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 30px;
        -webkit-shape-outside:circle();
        shape-outside:circle();
    }

    .item-profile-details {
        margin-left: 85px;
    }

    .item-message {
        margin-top: 10px;
    }

    .full-name, .amount {
      font-weight:700;
    }

	a {
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: #000;
	}

    a:hover {
        text-decoration: none;
        color: #000;
    }

	.in {
		height: 100%;
		width: 100%;
		display: none;
	}

	.moving {

	}
}*/

//End Ticker Plugin