
@include keyframes(fadeOutDown) {
  0% {
    opacity: 1;
    @include transform(translateY(0));
  }
  100% {
    opacity: 0;
    @include transform(translateY(20px));
  }
}

@mixin fadeOutDown($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(fadeOutDown);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}