html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.ticker {
  max-width: 600px;
  height: 120px;
  overflow: hidden;
  position: relative;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;;
}
.ticker .viewport {
  position: absolute;
  height: 100px;
}
/*.ticker .viewport.moving {
  -webkit-animation: moveDown 1 1s ease-in-out;
          animation: moveDown 1 1s ease-in-out;
}*/
.ticker .viewport .box {
  float: left;
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 20px;
}

.box p {
  widht:100%;
}
/*
@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes moveDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}*/
.body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
